/* Style for all buttons containing SVG icons */
.send-button img,
#edit-instruction-btn img,
#settings-btn img,
.copy-button img,
#attach-file-btn img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* Increase the size of the edit icon in the edit button by 100% */
#edit-instruction-btn img {
  width: 2em;
  height: 2em;
}

/* Increase the size of the settings icon in the settings button by 100% */
#settings-btn img {
  width: 2em;
  height: 2em;
}

/* Center the icon within the edit button */
#edit-instruction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Center the icon within the settings button */
#settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.send-button img {
  color: white;
}

.icon {
  max-width: 100%;
  max-height: 1.5em; /* Adjust this value to match the other button icons */
  object-fit: contain;
}

/* Highlight the help icon if the tutorial is not yet completed */
.help-button-highlight img {
  filter: hue-rotate(200deg);
}
